{% extends "base.html" %}

{% block content %}

    <div id="search_container" class="container">
        <div class="row mb-2">
            <div class="col-4">
                <div class="mb-2">
                        <label for="search_entries">Search Entries</label>
                        <input name="search_entries" id="search_entries">
                        <input class="btn border border-dark" type="submit" value="Search" id="search_entries_btn">
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="search_body_check" value="search_body_check">
                    <label class="form-check-label" for="search_body_check">Body</label>
                </div>

                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="checkbox" id="search_tags_check" value="search_tags_check"
                           checked="checked">

                    <label class="form-check-label" for="search_tags_check">Tags</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="search_proj_tags_check"
                           value="search_proj_tags_check">
                    <label class="form-check-label" for="search_proj_tags_check">Project Tags</label>
                </div>

            </div>
            <div class="col-1">
                <div class="mb-2">
                    <form method="post">
                        <button class="btn border border-dark" type="button" value="Add New Entry" name="new_entry">Add New Entry</button>
                    </form>
                </div>
            </div>
            <div class="container col-7">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-2">
                            <div class="border border-dark">
                                <div class="pl-1">{{ current_bid }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <form method="post">
                            <div><a class="btn border border-dark" href="{{ url_for("application.index") }}">Change
                            Bid</a></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 mr-auto">

                            <button class="btn border border-dark" type="submit" id="update_entry_btn"
                                    value="update_entry">Update Entry</button>

                    </div>

                    <div class="col-3">
                        <button class="btn border border-dark" type="submit" name="add_to_section"
                                    value="add_to_section" data-toggle="modal"
                                data-target="#add_to_section_modal">Add to
                            Section</button>

                        <div class="modal fade" id="add_to_section_modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal-body">
                                            <div class="row">
                                                <div class="col-6 px-5">
                                                    <button class="btn border border-dark px-4"
                                                            name="new_section" id="new_section_btn" data-toggle="modal"
                                                            data-target="#new_section_modal">New Section</button>
                                                </div>
                                                <div class="col-6">
                                                    <button class="btn border border-dark"
                                                        name="extant_section" id="extant_section_btn"
                                                            data-toggle="modal"
                                                            data-target="#extant_section_modal">Search
                                                    Existing Sections</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="new_section_modal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>div#extant_section_modal
                                <div class="modal-body">
                                    <div id="modal-body">
                                        <form method="POST" id="start_new_section">
                                            <label for="new_section_title"> What would you like to call your new section?</label>
                                            <input name="new_section_title" id="new_section_title">
                                            <button class='btn border border-dark' type='submit' id='add_to_new_section_btn'>Add to Section</button>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="extant_section_modal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="search_extant_section_title">Search Existing
                                        Sections</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modal-body">
                                <div class="row m-2">
                                        <form method="post" id="search_extant_sections" name="search_extant_sections">
                                            <select class="form-control col border border-dark" multiple="multiple"
                                                    id="section_search" style="height:
                                40px; width: 300px" name="section_search">
                                                {% for section in session.extant_sections %}
                                                    <option value="{{ section["id"] }}">{{ section["title"] }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                </div>
                                    <div class="row m-2">Section Preview</div>
                                    <div class="row my-2">
                                        <div class="col-10">
                                            <select class="border border-dark h-100" multiple="multiple"
                                             id="project_tags_preview" style="width: 100%">text</select>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-10">
                                            <div class="border border-dark h-100"
                                             id="tags_preview">text 2</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" id="extant_sections_modal_footer">
                                    <input class="btn border border-dark" type="submit" value="Add to Section"
                                           id="search_section_btn">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div><a class="btn border border-dark" href="{{ url_for("application.section",
        bid_id=bid_id, current_bid=current_bid) }}">Go to Section Assembly</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="update-toast" style="position: absolute; top: 0; right: 0; min-width: 300px;">
            <div class="toast fade" id="update-toast-test">
                <div class="toast-header">
                    <strong class="mr-auto text-success"><i class="fa fa-check"></i> Success! </strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                </div>
                <div class="toast-body">
                    Entry has successfully been updated!
                </div>
            </div>
        </div>
        <div id="section-toast" style="position: absolute; top: 0; right: 0; min-width: 300px;">
            <div class="toast fade" id="add-section-toast">
                <div class="toast-header">
                    <strong class="mr-auto text-success"><i class="fa fa-check"></i> Success! </strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                </div>
                <div class="toast-body">
                    Entry has successfully been added to section!
                </div>
            </div>
        </div>
    </div>
    <div id="body_container" class="container">
        <div class="row mb-2">
            <div class="col-5">
                <div class="row m-2">Search Results</div>
                <div class="row m-2" style="height: 700px;">
                    <div class="col border border-dark h-100 overflow-auto" id="search_results">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row ml-2 my-2">Project Tags:</div>
                <div class="row ml-2 my-2" style="height: 40px;">
                    <select class="form-control col border border-dark h-100"
                            multiple="multiple" id="project_tags_clicked"></select>
                </div>
                <div class="row ml-2 my-2">Tags:</div>
                <div class="row ml-2 my-2" style="height: 40px;">
                    <select class="form-control col border border-dark h-100"
                            multiple="multiple" id="tags_clicked"></select>
                </div>
                <div class="row ml-2 my-2">Body:</div>
                <div class="row ml-2 my-2" style="height: 500px;">
                    <div class="col border border-light h-100 p-0" id="body_clicked">
                        <div class="p-0" id="editor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block page_js %}
<script type="application/javascript" src="{{ url_for('static', filename='doris_entry.js') }}"></script>
{% endblock %}