{% extends "base.html" %}

{% block content %}
    <div id="search_container" class="container">
        <div class="row mb-2">
            <div class="col-4">
                <div class="mb-2">
{#                    <form method="post">#}
                        <label for="search_entries">Search Entries</label>
                        <input name="search_entries" id="search_entries">
                        <input class="btn border border-dark" type="submit" value="Go" id="search_entries_btn">
{#                    </form>#}
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="search_body_check" value="search_body_check">
                    <label class="form-check-label" for="search_body_check">Body</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="search_tags_check" value="search_tags_check" checked>
                    <label class="form-check-label" for="search_tags_check">Tags</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="search_proj_tags_check"
                           value="search_proj_tags_check">
                    <label class="form-check-label" for="search_proj_tags_check">Project Tags</label>
                </div>

            </div>
            <div class="col-1">
                <div class="mb-2">
                    <form method="post">
                        <button class="btn border border-dark" type="button" value="Add New Entry" name="new_entry">Add New Entry</button>
                    </form>
                </div>
            </div>
            <div class="container col-7">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-2">
                            <div class="border border-dark">{{ current_bid }}</div>
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <form method="post">
                            <div><a class="btn border border-dark" href="{{ url_for("application.index") }}">Change
                            Bid</a></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 mr-auto">
                        <form method="post">
                            <button class="btn border border-dark" type="submit" name="update_entry" value="update_entry">Update Entry</button>
                        </form>
                    </div>
                    <div class="col-3">
                        <form method="post">
                            <button class="btn border border-dark" type="submit" name="add_to_section"
                                    value="add_to_section">Add to Section
                            Assembly</button>
                        </form>
                    </div>
                    <div class="col-3">
                        <div><a class="btn border border-dark" href="{{ url_for("application.section") }}">Go
                            to Section Assembly</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body_container" class="container">
        <div class="row mb-2">
            <div class="col-5">
                <div class="row m-2">Search Results</div>
                <div class="row m-2" style="height: 700px;">
                    <div class="col border border-dark h-100 overflow-auto" id="search_results">

                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row ml-2 my-2">Project Tags:</div>
                <div class="row ml-2 my-2" style="height: 40px;">
                    <div class="col border border-dark h-100" id="project_tags_clicked"></div>
                </div>
                <div class="row ml-2 my-2">Tags:</div>
                <div class="row ml-2 my-2" style="height: 40px;">
                    <div class="col border border-dark h-100" id="tags_clicked"></div>
                </div>
                <div class="row ml-2 my-2">Body:</div>
                <div class="row ml-2 my-2" style="height: 540px;">
                    <div class="col border border-light h-100 p-0" id="body_clicked">
                        <div class="p-0" id="editor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block page_js %}
<script type="application/javascript" src="{{ url_for('static', filename='doris_entry.js') }}"></script>
{% endblock %}