{% extends "base.html" %}

{% block header %}
    <div id="heading-container" class="container">
        <div class="text-center my-5">
            <h1>{% block title %}Welcome to The Parlour.{% endblock %}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="main-container" class="container">
        <div class="row mt-2">
            <div class="col">
                <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                        data-target="#new_bid_modal">New Bid</button>

                <div class="modal fade" id="new_bid_modal" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title">What would you like to call your new bid?</h6>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="start_new_bid">
                                    <label for="new_bid_title"></label>
                                    <input name="new_bid_title" id="new_bid_title">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" form="start_new_bid" class="btn btn-outline-dark">Start New
                                    Bid</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4 mt-2">
                        Search Existing Bids
                    </div>
                    <div class="col-6">
                        <form method="post" id="search_bid">
                            <select class="form-control col border border-dark" multiple="multiple" id="bid_search" style="height:
                            40px;">
                            </select>
                        </form>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-dark" form="bid_search">Go</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_js %}
<script type="application/javascript" src="{{ url_for('static', filename='doris_index.js') }}"></script>
{% endblock %}
