<!doctype html>
<title>{% block title %}{% endblock %} - Doris</title>
<nav>
    <h1>Doris</h1>
    <ul>
        {% if session["username"] %}
            <li><span>Hello {{ session["username"] }}</span>
            <li><a href="{{ url_for("auth.logout") }}">Change User</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>